body {
    font-family: 'Cinzel Decorative', serif;
    background-color: #000;
    color: #fff;
    background-image: url("BG.jpeg");
    background-size: cover;
    align-items: center;
    margin: 100px;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: rgba(64, 61, 61, 0.12);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    /*margin: 100px;*/
    text-align: center;
    color: #d4af37;
}

label {
    display: block;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    font-size: 18px;
    color: #fff;
    text-align: center;
}

input[type="radio"] {

    margin-right: 10px;
    cursor: pointer;
}

button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d4af37;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b38e2d;
}
